certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.1
dataclasses==0.8
Flask==2.0.3
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2==2.7.7
psycopg2-binary==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
requests==2.27.1
typing_extensions==4.1.1
urllib3==1.26.8
uWSGI==2.0.20
Werkzeug==2.0.3
zipp==3.6.0
